* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

.main__container{
    padding-right: 10%;
    width: 100%;
    min-height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #051937, #0e2846, #193854, #254863, #335971);
    color: black;
}
/* quiz container */
.question__container{
    width: 150%;
    background-color: wheat;
    padding: 20%;
    border: 2px solid #0e2846;
    border-radius: 10%;
    box-shadow: 1px 1px 4px white;
}

li {
    font-size: 15px;
    margin: 5px;
    list-style:none;
}

input { 
    cursor: pointer;
}

#next {
    display: block;
    margin: auto;
    cursor:pointer;
    outline: none;
    padding: 3%;
    border-radius: 10%;
    text-transform: uppercase;
    background-color:#335971;
    color: gold;
    margin-top: 15%;
}
/* button hover changes color to green */
#next:hover {
    background-color: green;
}
/* style on final score */
#finalScore{
    margin-top: 5%;
    padding: 20%;
    background-color: rgb(52, 142, 142);
    border-radius: 10%;
    border: 2px solid gold;
    display: none;
}

#finalScore:hover{
    animation: forwards;
    transform: scale(1.1);
}

#restart{
    display: none;
    margin: auto;
    cursor:pointer;
    outline: none;
    padding: 3%;
    border-radius: 10%;
    text-transform: uppercase;
    background-color:#335971;
    color: gold;
    margin-top: 15%;
}

.hidden{
    display: none;
}

@media (max-width: 690px){


    #finalScore{
        margin-top: 5%;
        padding: 20%;
        background-color: rgb(52, 142, 142);
        border-radius: 10%;
        border: 2px solid gold;
        display: none;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
    }
    
    .main__container{
        padding-right: 10%;
        width: 100%;
        min-height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right top, #051937, #0e2846, #193854, #254863, #335971);
        color: black;
    }
    /* quiz container */
    .question__container{
        width: 150%;
        background-color: wheat;
        padding: 20%;
        border: 2px solid #0e2846;
        border-radius: 10%;
        box-shadow: 1px 1px 4px white;
    }
    
    li {
        font-size: 15px;
        margin: 5px;
        list-style:none;
    }
    
    input { 
        cursor: pointer;
    }
    
    #next {
        display: block;
        margin: auto;
        cursor:pointer;
        outline: none;
        padding: 3%;
        border-radius: 10%;
        text-transform: uppercase;
        background-color:#335971;
        color: gold;
        margin-top: 15%;
    }
    /* button hover changes color to green */
    #next:hover {
        background-color: green;
    }
    /* style on final score */
    #finalScore{
        margin-top: 5%;
        padding: 20%;
        background-color: rgb(52, 142, 142);
        border-radius: 10%;
        border: 2px solid gold;
        display: none;
    }
    
    #finalScore:hover{
        animation: forwards;
        transform: scale(1.1);
    }
    
    #restart{
        display: none;
        margin: auto;
        cursor:pointer;
        outline: none;
        padding: 3%;
        border-radius: 10%;
        text-transform: uppercase;
        background-color:#335971;
        color: gold;
        margin-top: 15%;
    }
    
    .hidden{
        display: none;
    }
}
    
